<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="footer-thumb footer-logo">
          <img class="wow fadeInUp" src="../../../../assets/images/logo.png" />
          <h3>TECHSKY EGYPT</h3>
          <p>Medical Technology - Surgical Laser</p>
          <!-- <p>Al Duqqi, Ad Doqi, Dokki, Giza Governorate, Egyp</p> -->
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="footer-thumb">
          <h4 class="wow fadeInUp">Contact Info</h4>
          <div class="contact-info">
            <a href="tel:01019421333"><i class="fa fa-phone"></i> 01019421333</a>
            <a href="mailto:info@techsky-egy.com"><i class="fa fa-envelope-o"></i>
              info@techsky-egy.com</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="footer-thumb">
          <h4 class="wow fadeInUp">Address Details</h4>
          <div class="contact-info">
            <a><i class="fa fa-map-marker"></i>
              96 Tharir St, Dokki, Giza</a>
            <a><i class="fa fa-map-marker"></i>
              54 Sudan St, Dokki, Giza</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="footer-thumb">
          <div class="opening-hours">
            <h4 class="wow fadeInUp">Opening Hours</h4>
            <p>Saturday -Thursday <span>10:00 AM - 06:00 AM</span></p>
            <p>Friday <span>Closed</span></p>
          </div>
          <ul class="social-icon">
            <li><a target="_blank" href="https://www.facebook.com/SkyTechMT?mibextid=LQQJ4d"
                class="fa fa-facebook-square" attr="facebook icon"></a></li>
            <!-- <li><a href="#" class="fa fa-instagram"></a></li> -->
            <li><a href="https://wa.me/+2001019421666" class="fa fa-whatsapp"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>