<section id="home" class="m2-Surgical-landing s1-pro-landing">
  <div class="container">
    <div class="landing-content">
      <div class="col-12">
        <h1 style="text-align: center;">S1 1470NM</h1>
        <h2><span>diode</span>&nbsp;<span>Laser System</span></h2>
        <div class="underLine"></div>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories" class="bg-blue">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <div class="">
          <img src="../../../../assets/images/s1/s1.png" alt="">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp">"S1 1470nm DIODE LASER SYSTEM"</h2>
          <div class="wow fadeInUp">
            <p>an innovative surgical system designed to make a difference
              in the medical field. This cutting-edge system offers
              numerous advantages that make it the optimal choice for
              healthcare professionals and surgeons.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="products" class="m2-products m2-products-card">
  <div class="container">
    <div class="row g-3">
      <div class="col-md-12 col-sm-12">
        <div class="section-title wow fadeInUp" style="padding-bottom: 40px;" data-wow-delay="0.1s">
          <h3>Here are some key advantages of the <br> <span>"S1 1470nm DIODE LASER SYSTEM"</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="news-thumb wow fadeInUp products-card" data-wow-delay="0.4s">
          <img src="../../../../assets/images/m2/4.jpg" class="img-responsive" alt="">
          <div class="news-info">
            <h3>Super Cooling:</h3>
            <p>The system is equipped with double fans, electronic cooling, and a multi-channel copper tube system,
              effectively
              dissipating heat and maintaining optimal performance.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="news-thumb wow fadeInUp products-card" data-wow-delay="0.6s">
          <img src="../../../../assets/images/m2/3.jpg" class="img-responsive" alt="">
          <div class="news-info">
            <h3>Laser Module:</h3>
            <p>With a stable and continuous laser energy output of 12W, the system delivers precise and effective
              treatment results.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="news-thumb wow fadeInUp products-card" data-wow-delay="0.8s">
          <img src="../../../../assets/images/s1/2.jpg" class="img-responsive" alt="">
          <div class="news-info">
            <h3>HD Screen:</h3>
            <p>The system features a high-definition 7-inch HDR Retina touch display with a pixel density of over 340
              PPI, providing
              clear and vibrant visuals.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="news-thumb wow fadeInUp products-card" data-wow-delay="0.8s">
          <img src="../../../../assets/images/m2/1.jpg" class="img-responsive" alt="">
          <div class="news-info">
            <h3>Remote Service:</h3>
            <p>Wi-Fi assistance enables convenient remote technical support, ensuring seamless operation and
              troubleshooting.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="news-thumb wow fadeInUp products-card" data-wow-delay="0.8s">
          <img src="../../../../assets/images/m2/6.jpg" class="img-responsive" alt="">
          <div class="news-info">
            <h3>Compatibility:</h3>
            <p>The S1PRO FacialContouringTM 1470nm Laser System is compatible with all fiber tips available on the
              market, featuring a
              regular SMA 905 connector.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="news-thumb wow fadeInUp products-card" data-wow-delay="0.8s">
          <img src="../../../../assets/images/s1/7.jpg" class="img-responsive" alt="">
          <div class="news-info">
            <h3>Perfect Design:</h3>
            <p>The system boasts an aluminum-magnesium alloy case, making it lightweight (less than 4kg) and easy to
              handle.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
