<section id="home" class="m2-Surgical-landing news">
  <div class="container">
    <div class="landing-content">
      <div class=" ">
        <h1>Events & News</h1>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 owl  ">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img src="../../../../assets/images/news/1/1.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/1/2.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/1/3.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/1/4.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/1/5.jpg" /></ng-template>
        </owl-carousel-o>
      </div>
      <div class="col-md-6  ">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">6 - 9 March 2024 ,Cairo Egypt</h2>
          <div class="wow fadeInUp">
            <p><b> With great pleasure, we announce Tech Sky's participation in the 42nd Annual Meeting of ESS.</b></p>
            <p>We had the privilege of introducing ourselves and introduce the lastest laser technology with new Pioon
              Laser Devices
              and the latest advancements in laser fibers to a sizable gathering of scientists, Senior physicians, and
              surgeons during
              visits to the heads of departments, the board, the ESS association president Dr. Mohamed Faried,
              Secretary-General Dr.
              Abdel Moeti Hussein, and the members of the board of directors.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories" class="bg-blue">
  <div class="container">
    <div class="row d-flex align-items-center">

      <div class="col-md-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">23-21 September 2023 ,Cairo Egypt</h2>
          <div class="wow fadeInUp">
            <p><b> We are thrilled to present our Remarkable participation in the 4lst Annual Meeting of the Egyptian
                Society of Surgeons!</b></p>
            <p>Highlights include showcasing the latest surgical advancements, such as Advanced laser devices, and
              engaging in valuable
              discussions with Esteemed surgeons and medical professionals.</p>
            <p>We're honored to have Being part of this exceptional gathering that celebrated the art and science Of
              surgery and paved
              the way for future breakthroughs.</p>
            <p>Stay tuned for more Updates as we express our gratitude to everyone who contributed to the Success of
              this event!</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 owl  ">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img src="../../../../assets/images/news/2/1.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/2/2.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/2/3.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/2/4.jpg" /></ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>


<section id="m2-accessories">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 owl  ">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img src="../../../../assets/images/news/3/1.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/3/2.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/3/3.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/3/4.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/3/5.jpg" /></ng-template>
        </owl-carousel-o>
      </div>
      <div class="col-md-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">14-16 September 2023 ,Cairo Egypt</h2>
          <div class="wow fadeInUp">
            <p><b> Tech Sky proudly participated in the 7th Pan Arab Conference of Vascular Surgery and the 19th</b></p>
            <p>Annual Meeting of the Society, alongside the 4th Kasr Al Ainy Vascular Symposium & Mansoura Aortic Day.
            </p>
            <p>Themed "The Quality of Care in Vascular Practice," this event took place.We engaged with leading national
              and
              international experts in vascul, And endovascular surgery, exploring the latest updates and guideline
              Through panel
              discussions, lectures, and workshops.</p>
            <p>In addition, we showcased advanced laser devices for varicose veins,Vascular issues, and specialized
              catheters for
              vascular procedures.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories" class="bg-blue">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">We're thrilled to have attended ESCRS
            2023</h2>
          <div class="wow fadeInUp">
            <p>The Annual Conference of the Egyptian Society of Colon and Rectal Surgeons!</p>
            <p>This event brought together top surgeons from around the world to discuss the latest advancements topics
              in colon and
              rectal surgery.</p>
            <p>We had the chance to share our experiences and showcase our advanced laser devices and different types of
              Laser Fibers
              with fellow medical professionals.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 owl  ">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img src="../../../../assets/images/news/4/1.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/4/2.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/4/3.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/4/4.jpg" /></ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 owl  ">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img src="../../../../assets/images/news/5/1.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/5/2.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/5/3.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/5/4.jpg" /></ng-template>
        </owl-carousel-o>
      </div>
      <div class="col-md-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">15-17 March 2023 ,Cairo Egypt</h2>
          <div class="wow fadeInUp">
            <p><b> We are thrilled to present our Remarkable participation in the 4lst Annual Meeting Of the Egyptian
                Society of Surgeons!</b></p>
            <p>Themed "The Quality of Care in Vascular Practice," this event took place We engaged with leading national
              and
              international experts in vascular And endovascular surgery, exploring the latest updates and guidelines
              Through panel
              discussions, lectures, and workshops.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories" class="bg-blue">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">2-3 March 2023 ,Cairo ,Egypt</h2>
          <div class="wow fadeInUp">
            <p><b>Tech sky is proud to be a part of The 17th Annual Meeting And The 4t Joint Meeting of MSCP &
                MSFPD,</b></p>
            <p>And get the trust of Board Members and Speakers who used our M2 Surgical Laser Device in Live Surgery.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 owl  ">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img src="../../../../assets/images/news/6/1.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/6/2.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/6/3.jpg" /></ng-template>
          <ng-template carouselSlide><img src="../../../../assets/images/news/6/4.jpg" /></ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
