<section id="home" class="m2-Surgical-landing accerioes">
  <div class="container">
    <div class="landing-content">
      <div class="col-12">
        <h1>ACCESSORIES</h1>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <img src="../../../../assets/images/accessories/2.png" alt="">
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">Handpiece</h2>
          <div class="wow fadeInUp">
            <p>It can match with the mainstream laser machine all over the world.</p>
            <p>Any surgical laser machine of pluggable fiber, SMA905 or FC connector
              are all compatible
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories" class="bg-blue">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">SURGICAL LIPOLYSIS KIT</h2>
          <div class="wow fadeInUp">
            <p>Include 5 pieces cannula</p>
            <p>Suitable for 200-600μm fiber </p>
            <p>It is possible to use different cannulas depending on the area, which is going to be treated.</p>
            <p>Length: 100mm,150mm,200mm,250mm,300mm</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="../../../../assets/images/accessories/5.png" alt="">
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <img src="../../../../assets/images/accessories/3.png" alt="">
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">SAFETY GOOGLES</h2>
          <div class="wow fadeInUp">
            <p>Protect users' eyes from laser damage.</p>
            <p>Matching with laser equipment</p>
            <p>VLT:31%</p>
            <p>Color: dark green</p>
            <p>Thickness: 2mm</p>
            <p>Protection indicator: 200nm-480nm DIR LB4(OD4+),740nm-1800nm DIR LB6(OD5),1800nm-1950nmDIR LB6(OD3)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="m2-accessories" class="bg-blue">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="wow fadeInUp" style="padding: 0;margin: 0;font-size: 2.5em;">BARE FIBER KIT</h2>
          <div class="wow fadeInUp">
            <p>Cut the fiber, which is necessary if you choose the bare fiber</p>
            <p>Cutting range: 200-800μm</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="../../../../assets/images/accessories/4.png" alt="">
      </div>
    </div>
  </div>
</section>